.main {
  display: grid;
  grid-template-columns: 3rem 1fr 1rem;
  gap: 1rem;
  background-color: var(--gray);
  padding: 0.5rem;
  border-radius: 0.5rem;
  align-items: center;
}

.main:active {
  transform: translateY(1px);
}

.main:hover {
  box-shadow: 1px -1px 3px var(--primary) inset, -1px 1px 3px var(--primary) inset;
}

.avatar {
  height: 2rem;
  width: 2rem;
}
