.button {
  outline: none;
  border: 0;
  font-size: 1rem;
  color: var(--primary);
  background-color: var(--gray);
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
}

.button:hover {
  outline: solid 1px var(--primary);
}

.button:active {
  transform: translateY(1px);
}
