.button {
  outline: none;
  border: 0;
  font-size: 1rem;
  color: var(--primary);
  background-color: var(--gray);
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.button:not([disabled]):hover {
  box-shadow: 1px -1px 3px var(--primary) inset, -1px 1px 3px var(--primary) inset;
}

.button:not([disabled]):active {
  transform: translateY(1px);
}

.button:disabled {
  background-color: var(--lightGray);
  color: var(--gray);
  cursor: default;
}
