.main {
  display: flex;
  flex-direction: column;
  background-color: var(--darkGray);
  width: 30%;
  height: 100%;
  padding: 1rem;
  gap: 1rem;
  border-top: solid 1px var(--lightGray);
}

.userList {
  all: unset;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.userOnline {
  background-color: limegreen;
}

.userOffline {
  background-color: red;
}
