.onlineDot {
  display: inline-block;
  border-radius: 50%;
  background-color: limegreen;
  width: 0.75rem;
  height: 0.75rem;
}

.offlineDot {
  display: inline-block;
  border-radius: 50%;
  background-color: red;
  width: 0.75rem;
  height: 0.75rem;
}
