.loginContainer {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.loginModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  gap: 1rem;
  width: 30rem;
  padding: 2rem 5rem;
  border-radius: 0.5rem;
  height: fit-content;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.errorText {
  color: red;
}

.infoText {
  color: grey;
  font-size: 0.75rem;
}

.header {
  text-transform: uppercase;
  font-size: 1.5rem;
}

.loginButton {
  align-self: end;
}
