*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  font-size: 16px;
}

p {
  font-size: 1rem;
  color: var(--white);
  padding: 0;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  color: var(--white);
  margin: 0;
}

body {
  min-height: 100%;
  width: 100%;
  background-color: black;
  margin: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary: hsl(35, 100%, 53%);
  --red: #f60101;
  --white: #f1f1f1;
  --black: #000000;
  --darkGray: #303030;
  --gray: #595959;
  --lightGray: #bbbbbb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
